.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.inner-content {
  padding: 5px;
  border-radius: 5px;
  background-color: #57B4BA; /* Updated background color */
  overflow: auto;
  height: 400px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}
