.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: #015551; /* Updated background color */
  color: white;
}

.navbar-left {
  flex: 1;
  margin-left: 1rem;
  display: flex;
  overflow: hidden;
}

.logo {
  height: 30px; 
  margin-right: .5rem;
}

.navbar-center {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links button {
  margin: 0 10px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem; /* Reduced font size */
}

.navbar-links button:hover {
  text-decoration: underline;
}

.navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px; /* Reduced margin */
}

.user-role,
.user-name,
.user-email {
  font-size: 0.5rem; /* Reduced font size */
}

.logout-button {
  padding: 3px 8px; /* Reduced padding */
  background-color: #FE4F2D; /* Updated background color */
  color: white;
  border: none;
  margin-right: 2rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem; /* Reduced font size */
}

.logout-button:hover {
  background-color: #c0392b;
}
